* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: black;
    color: white;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.logo {
    margin-bottom: 48px;
    padding: 0 8px;
    text-align: center;
}

.menu {
    margin: 0 auto;
    padding: 0 8px;
    min-height: 100vh;
    text-align: center;
}

.item {
    position: relative;
    margin-bottom: 48px;
    text-align: left;
}

.item__beer {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 32px;
    margin-bottom: 0;
}

.item__volume {
    font-size: 24px;
    line-height: 1.2;
}

.item__price {
    margin-top: 8px;
}

.item__type {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(2deg);
}

.item__cover-container {
    position: relative;
    text-align: center;
} 

.item__price {
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    color: black;
    padding: 10px;
    font-size: 25px;
    transform: rotate(2.99deg);
    transform-origin: left bottom;
}

.item__cover {
    width: 93%;
    aspect-ratio: 109 / 60;
    transform-origin: bottom;
    transform: rotate(-4deg);
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}

.footer {
    font-size: 16px;
    background: #310D44;
    border-radius: 16px 16px 0px 0px;
    padding: 4px 24px 32px 24px;
}

.footer__logo {
    font-size: 32px;
    font-weight: 600;
}

.footer__text {
    margin-bottom: 24px;
}

.footer__link {
    display: inline-block;
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}
