* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lab Grotesque,-apple-system,BlinkMacSystemFont,Arial,Liberation Sans,Nimbus Sans L,sans-serif;
    -webkit-font-smoothing: antialiased;
    background: black;
    color: white;
}

.wrap {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    margin-bottom: 48px;
    padding: 0 32px;
    text-align: left;
}

.menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 28px;
    width: 100%;
    min-height: 90vh;
}

.item {
    width: 100%;
    position: relative;
    margin-bottom: 48px;
    text-align: left;
}

.item:nth-child(2n) {
    animation: fadeInSlideUp .5s ease  both;
}

.item:nth-child(2n-1) {
    animation: fadeInslideDown .5s ease  both;
}

.item__beer {
    font-size: 19px;
    line-height: 1.2;
    margin-top: 24px;
    margin-bottom: 0;
    margin-left: 8px;
}

.item__volume {
    font-size: 22px;
    line-height: 1.2;
    margin-left: 8px;
}

.item__type-wrap {
    position: absolute;
    z-index: 1;
    top: -8px;
    left: 0;
    display: flex;
    transform: rotate(-2.5deg);
    margin: 0 -8px;
}

.item__type {
    background: black;
    padding: 4px 12px;
    margin: 0 8px;
    color: white;
}

.item__cover-wrap {
    position: relative;
    text-align: center;
} 

.item__cover-wrap::after {
    content: '';
    position: relative;
    display: block;
    padding-bottom: 50%;
}

.item__price {
    position: absolute;
    right: -12px;
    bottom: -4px;
    background: white;
    color: black;
    padding: 10px;
    font-size: 22px;
    transform: rotate(2.99deg);
    transform-origin: left bottom;
    clip-path: polygon(40% 0, 0 0, 0 46%, 0 100%, 44% 100%, 50% 89%, 57% 100%, 100% 100%, 100% 51%, 100% 0, 55% 0, 47% 10%);
}

.item__cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    transform: rotate(-4deg);
    border-radius: 16px;
    object-fit: cover;
    object-position: 50% 60%;
    filter: opacity(.9) contrast(.85);
    transition: .25s ease all;
}

.item:hover .item__cover {
    filter: none;
}

.footer {
    font-size: 16px;
    background: #310D44;
    border-radius: 16px 16px 0px 0px;
    padding: 4px 28px 32px 28px;
}

.footer__address {
    font-style: normal;
}

.footer__logo {
    font-size: 32px;
    font-weight: 600;
}

.footer__text {
    margin-bottom: 24px;
}

.footer__link {
    display: inline-block;
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(15%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInslideDown {
    from {
        opacity: 0;
        transform: translateY(-15%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 540px) {
    .menu {
        margin: 0 -28px 0 0;
    }

    .item {
        width: 50%;
        padding: 0 28px;
        margin-bottom: 56px;
    }

    .item__cover-wrap::after {
        padding-bottom: 65%;
    }
}

@media screen and (min-width: 991px) {
    .item {
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 1200px) {
    .item {
        width: calc(100% / 4);
    }
}

@media screen and (min-width: 1600px) {
    .item {
        width: calc(100% / 5);
    }
}

.loader-caption {
    position: absolute;
    top: calc(50% + 70px);
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
}

.loader div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loader {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
  